@model ProductQAListModel
<div class="col-sm-12">
    @for(int i = 0; i < Model.ProductQAList.Count; i++) {
        <div class="productqa-list">
            @{ var productQA = Model.ProductQAList[i]; }
            <p><b>@(i + 1). @productQA.Question</b></p>
            <p class="answer">
                @productQA.Answer
                <br />
                <span class="qa-createdate">- @productQA.CreatedDate</span>
            </p>
        </div>
    }
</div>
<p></p>
<div id="productQA-tab" class="write-review">
    <div class="title">
        <strong>@T("ProductQA.WriteQuestion")</strong>
    </div>
    <div class="submitQuestionResult result" style="margin:20px 0px;">
    </div>
    <div asp-validation-summary="ModelOnly" class="message-error" style="margin:20px 0px;"></div>
    <div class="form-fields">
        <div class="inputs">
            <label asp-for="Question"></label>
            <textarea asp-for="Question" rows="3" placeholder="@T("ProductQA.Enquiry.Hint")" class="contact_tab_enquiry review-text" asp-disabled="@(!Model.CustomerCanAddQuestion)"></textarea>
            <nop-required />
            <span asp-validation-for="Question"></span>
        </div>
    </div>
    <div class="buttons">
        <input type="button" id="send-contact-us-form" name="send-email" class="button-1 contact-us-button" value="@T("ProductQA.AddNew")" onclick="addQuestion(@Model.ProductId)" />
    </div>
</div>
